In [1]:
import sqlite3
import pandas as pd

# Connect to your database file
conn = sqlite3.connect('pipelines.db')

# You can now use this connection object to run SQL queries.

In [2]:
# Create a cursor object
cursor = conn.cursor()

# Get a list of all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables in the database:", tables)

# Close the cursor
cursor.close()

Tables in the database: [('data_flow_control_header',), ('data_flow_l0_detail',), ('sqlite_sequence',), ('data_flow_pb_detail',), ('data_flow_cluster_config_lookup',)]

In [ ]:
import sqlite3
import datetime

def _seed_cluster_config_data():
    """
    Seeds the data_flow_cluster_config_lookup table with hardcoded data if it's empty.
    """
    conn = sqlite3.connect('pipelines.db')
    cursor = conn.cursor()

    # Check if the table is empty before inserting
    cursor.execute("SELECT COUNT(*) FROM data_flow_cluster_config_lookup")
    if cursor.fetchone()[0] > 0:
        conn.close()
        return

    # Data to be inserted
    data = [
        ('M_M6', 'M_M6', 2, 8, None, None, None, None, None, None, None, None, 'Y'),
        ('L_M6', 'L_M6', 4, 16, None, None, None, None, None, None, None, None, 'Y'),
        ('S_M6', 'S_M6', 1, 4, None, None, None, None, None, None, None, None, 'Y'),
        ('XL_M6', 'XL_M6', 8, 32, None, None, None, None, None, None, None, None, 'N'),
        ('S_I3', 'S_I3', 1, 4, None, None, 'x', None, None, None, None, None, 'Y'),
        ('M_I3', 'M_I3', 2, 8, None, None, None, None, None, None, None, None, 'Y'),
        ('L_I3', 'L_I3', 4, 16, None, None, None, None, None, None, None, None, 'Y'),
        ('XL_I3', 'XL_I3', 8, 32, None, None, None, None, None, None, None, None, 'N'),
        ('S_R5', 'S_R5', 1, 4, None, None, None, None, None, None, None, None, 'Y'),
        ('M_R5', 'M_R5', 2, 8, None, None, None, None, None, None, None, None, 'Y'),
        ('L_R5', 'L_R5', 4, 16, None, None, None, None, None, None, None, None, 'N'),
        ('XL_R5', 'XL_R5', 8, 32, None, None, None, None, None, None, None, None, 'N'),
        ('S_C5', 'S_C5', 1, 4, None, None, None, None, None, None, None, None, 'Y'),
        ('M_C5', 'M_C5', 2, 8, None, None, None, None, None, None, None, None, 'Y'),
        ('L_C5', 'L_C5', 4, 16, None, None, None, None, None, None, None, None, 'Y'),
        ('XL_C5', 'XL_C5', 8, 32, None, None, None, None, None, None, None, None, 'N'),
        ('XXL_C5', 'XXL_C5', 16, 64, None, None, None, None, None, None, None, None, 'N'),
        ('Serverless', 'Serverless', None, None, None, None, None, None, None, None, None, None, 'Y'),
        ('S_R5_WP', 'S_R5_WP', 1, 4, None, None, None, None, None, None, None, None, 'N'),
        ('M_R5_WP', 'M_R5_WP', 2, 8, None, None, None, None, None, None, None, None, 'N'),
        ('L_R5_WP', 'L_R5_WP', 4, 16, None, None, None, None, None, None, None, None, 'N'),
        ('XL_R5_WP', 'XL_R5_WP', 8, 32, None, None, None, None, None, None, None, None, 'N'),
        ('XXL_R5_WP', 'XXL_R5_WP', 16, 64, None, None, None, None, None, None, None, None, 'N'),
        ('S_C6_WP', 'S_C6_WP', 1, 4, None, None, None, None, None, None, None, None, 'N'),
        ('M_C6_WP', 'M_C6_WP', 2, 8, None, None, None, None, None, None, None, None, 'N'),
        ('L_C6_WP', 'L_C6_WP', 4, 16, None, None, None, None, None, None, None, None, 'N'),
        ('XL_C6_WP', 'XL_C6_WP', 8, 32, None, None, None, None, None, None, None, None, 'N'),
        ('XXL_C6_WP', 'XXL_C6_WP', 16, 64, None, None, None, None, None, None, None, None, 'N')
    ]

    # Insert the data into the table
    cursor.executemany("""
        INSERT INTO data_flow_cluster_config_lookup (
            COMPUTE_CLASS, DESCRIPTION, MIN_WORKER, MAX_WORKER, DRIVER_NODE_TYPE_ID,
            WORKER_NODE_TYPE_ID, RUNTIME_ENGINE, SPARK_VERSION, INSERTED_BY, UPDATED_BY,
            INSERTED_TS, UPDATED_TS, DEV_ALLOWED
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """, data)

    conn.commit()
    conn.close()

In [3]:
query_header = "SELECT * FROM data_flow_cluster_config_lookup;"
df_headersss = pd.read_sql_query(query_header, conn)
print("\n--- data_flow_control_header ---")
print(df_headersss)

--- data_flow_control_header ---
   COMPUTE_CLASS DESCRIPTION  MIN_WORKER  MAX_WORKER DRIVER_NODE_TYPE_ID  \
0           M_M6        M_M6         2.0         8.0                None
1           L_M6        L_M6         4.0        16.0                None
2           S_M6        S_M6         1.0         4.0                None
3          XL_M6       XL_M6         8.0        32.0                None
4           S_I3        S_I3         1.0         4.0                None
5           M_I3        M_I3         2.0         8.0                None
6           L_I3        L_I3         4.0        16.0                None
7          XL_I3       XL_I3         8.0        32.0                None
8           S_R5        S_R5         1.0         4.0                None
9           M_R5        M_R5         2.0         8.0                None
10          L_R5        L_R5         4.0        16.0                None
11         XL_R5       XL_R5         8.0        32.0                None
12          S_C5        S_C5         1.0         4.0                None
13          M_C5        M_C5         2.0         8.0                None
14          L_C5        L_C5         4.0        16.0                None
15         XL_C5       XL_C5         8.0        32.0                None
16        XXL_C5      XXL_C5        16.0        64.0                None
17    Serverless  Serverless         NaN         NaN                None
18       S_R5_WP     S_R5_WP         1.0         4.0                None
19       M_R5_WP     M_R5_WP         2.0         8.0                None
20       L_R5_WP     L_R5_WP         4.0        16.0                None
21      XL_R5_WP    XL_R5_WP         8.0        32.0                None
22     XXL_R5_WP   XXL_R5_WP        16.0        64.0                None
23       S_C6_WP     S_C6_WP         1.0         4.0                None
24       M_C6_WP     M_C6_WP         2.0         8.0                None
25       L_C6_WP     L_C6_WP         4.0        16.0                None
26      XL_C6_WP    XL_C6_WP         8.0        32.0                None
27     XXL_C6_WP   XXL_C6_WP        16.0        64.0                None

   WORKER_NODE_TYPE_ID RUNTIME_ENGINE SPARK_VERSION INSERTED_BY UPDATED_BY  \
0                 None           None          None        None       None
1                 None           None          None        None       None
2                 None           None          None        None       None
3                 None           None          None        None       None
4                 None              x          None        None       None
5                 None           None          None        None       None
6                 None           None          None        None       None
7                 None           None          None        None       None
8                 None           None          None        None       None
9                 None           None          None        None       None
10                None           None          None        None       None
11                None           None          None        None       None
12                None           None          None        None       None
13                None           None          None        None       None
14                None           None          None        None       None
15                None           None          None        None       None
16                None           None          None        None       None
17                None           None          None        None       None
18                None           None          None        None       None
19                None           None          None        None       None
20                None           None          None        None       None
21                None           None          None        None       None
22                None           None          None        None       None
23                None           None          None        None       None
24                None           None          None        None       None
25                None           None          None        None       None
26                None           None          None        None       None
27                None           None          None        None       None

   INSERTED_TS UPDATED_TS DEV_ALLOWED
0         None       None           Y
1         None       None           Y
2         None       None           Y
3         None       None           N
4         None       None           Y
5         None       None           Y
6         None       None           Y
7         None       None           N
8         None       None           Y
9         None       None           Y
10        None       None           N
11        None       None           N
12        None       None           Y
13        None       None           Y
14        None       None           Y
15        None       None           N
16        None       None           N
17        None       None           Y
18        None       None           N
19        None       None           N
20        None       None           N
21        None       None           N
22        None       None           N
23        None       None           N
24        None       None           N
25        None       None           N
26        None       None           N
27        None       None           N

In [ ]:
select_com = "SELECT COMPUTE_CLASS FROM data_flow_cluster_config_lookup WHERE DEV_ALLOWED = 'Y';"
df_compute_classes = pd.read_sql_query(select_com, conn)
print("\n--- Compute Classes where DEV_ALLOWED = 'Y' ---")
print(df_compute_classes)

--- Compute Classes where DEV_ALLOWED = 'Y' ---
   COMPUTE_CLASS
0           M_M6
1           L_M6
2           S_M6
3           S_I3
4           M_I3
5           L_I3
6           S_R5
7           M_R5
8           S_C5
9           M_C5
10          L_C5
11    Serverless

In [4]:
query_header = "SELECT * FROM data_flow_control_header;"
df_header = pd.read_sql_query(query_header, conn)
print("\n--- data_flow_control_header ---")
print(df_header)

--- data_flow_control_header ---
       DATA_FLOW_GROUP_ID                BUSINESS_UNIT  \
0        retail_sales_dwh                       Retail
1  ssssssssssssssssssssss  sssssssssssssssssssssssssss

               PRODUCT_OWNER TRIGGER_TYPE        BUSINESS_OBJECT_NAME  \
0       jane.smith@email.com          DLT          sales_transactions
1  ddddddddddddddddddddddddd          DLT  dddddddddddddddddddddddddd

  ETL_LAYER COMPUTE_CLASS COMPUTE_CLASS_DEV            DATA_SME  \
0        L0          L_C5              L_C5  john.doe@email.com
1        L0          L_C5              L_C5                 sme

   INGESTION_MODE  ... COST_CENTER WARNING_THRESHOLD_MINS WARNING_DL_GROUP  \
0             CDC  ...                                 60        data_team
1  ingestion mode  ...                                  1            group

   min_version max_version  IS_ACTIVE  INSERTED_BY UPDATED_BY INSERTED_TS  \
0          1.0         6.0          Y                                None
1          3.0         5.0          Y                                None

  UPDATED_TS
0       None
1       None

[2 rows x 22 columns]

In [ ]:
query_l0 = "SELECT * FROM data_flow_l0_detail;"
df_l0 = pd.read_sql_query(query_l0, conn)
print("\n--- data_flow_l0_detail ---")
print(df_l0)

--- data_flow_l0_detail ---
   l0_id         DATA_FLOW_GROUP_ID           SOURCE SOURCE_OBJ_SCHEMA  \
0      1  example_pipeline_99df2780  Source_System_A            public
1      2  example_pipeline_99df2780  Source_System_B            public
2      3                       ssss              kkk            dddddd

  SOURCE_OBJ_NAME INPUT_FILE_FORMAT STORAGE_TYPE              CUSTOM_SCHEMA  \
0       customers               csv            R        id int, name string
1          orders              json            R  order_id int, item string
2           ddddd               csv            R                        kkk

  DELIMETER              DQ_LOGIC     CDC_LOGIC              TRANSFORM_QUERY  \
0         ,        NOT NULL on ID  full refresh  SELECT * FROM raw_customers
1            NOT NULL on order_id   append only     SELECT * FROM raw_orders
2      ffff                   kkk       fffffff                          sss

  LOAD_TYPE PRESTAG_FLAG   PARTITION LS_FLAG LS_DETAIL       LOB
0      FULL            Y   load_date       N            Consumer
1     DELTA            Y  order_date       N            Consumer
2      FULL            Y         ggg       Y   sssssss      ssss

In [5]:
query_pd = "SELECT * FROM data_flow_pb_detail;"
df_pd = pd.read_sql_query(query_pd, conn)
print("\n--- data_flow_l0_detail ---")
print(df_pd)

--- data_flow_l0_detail ---
   pb_id      DATA_FLOW_GROUP_ID   TARGET_OBJ_SCHEMA TARGET_OBJ_NAME PRIORITY  \
0      1  ssssssssssssssssssssss  ssssssssssssssssss  dddddddddddddd   Medium

  TARGET_OBJ_TYPE         TRANSFORM_QUERY       GENERIC_SCRIPTS SOURCE_PK  \
0              MV  ssssssssssssssssssssss  dddddddddddddddddddd

  TARGET_PK LOAD_TYPE PARTITION_METHOD PARTITION_OR_INDEX  \
0                FULL        Partition     ssssssssssssss

    CUSTOM_SCRIPT_PARAMS  RETENTION_DETAILS                   LOB IS_ACTIVE  \
0  sssssssssssssssssssss  sssssssssssssssss  ssssssssssssssssssss         Y

  INSERTED_BY UPDATED_BY
0        None       None

In [ ]:
query_p = "SELECT * FROM sqlite_sequence;"
df_p = pd.read_sql_query(query_p, conn)
print("\n--- data_flow_l0_detail ---")
print(df_p)

--- data_flow_l0_detail ---
                  name  seq
0  data_flow_pb_detail    4
1  data_flow_l0_detail    3